html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#game-container {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #f7f7f7;
  border: 1px solid black;
  margin: auto;
}

.sliding-background{
  background: url(../image/1kbh_9feb_210426_generated.jpg) repeat-x;
  height: 300px;
  width: 5076px;
  animation: move-background 60s linear infinite;
}

@keyframes move-background{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 70px;
  }
  100% {
    bottom: 0;
  }
}

.jump {
  animation: jump 0.7s linear;
}

@keyframes run {
  100% {background-position: -384px;}
}
#stickman {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;

  background: url(../image/run\ cycle\ 48x48.png) left center;
  animation: run 0.8s steps(8) infinite;
}

@keyframes slide {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-600px,0);
  }
}


.cloud {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: blue;
  animation: slide 10s linear infinite;
}

#obstacle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: black;
  animation: slide 3s linear infinite;
}